.calendar {
  margin: 0 auto;
  width: 800px;
}

.feedback {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  font-size: 1.25em;
  text-decoration: bold;
  color: #ea622a;
}

.table {
  color: #134;
  text-align: justify;
  border-right: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  border-collapse:collapse;
}

.table thead tr:first-child {
  text-align: center;
}

.table td,th {
  border-left: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  padding: 3px;
}

.month {float: left; margin: 10px; font-size: 10pt;}

.fixed {
  display: none;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 300px;
  height: 50%;
  border: 1px solid black;
  overflow: scroll;
  font-size: xx-small; 
}

.selection {
  position: absolute;
  border: 1px solid #89B;
  background: #BCE;
  background-color: #BEC;
  border-color: #8B9;
}
.drop {
  background: #EEE;
  cursor: pointer;
}
.dropped {
  background-color: #EBC;
  border-color: #B89;
  text-decoration: line-through;
} 
.active {  
  background-color: #CEB;
  border-color: #9B8;
}
